<nav class='nav container-fluid'>
  <ul class='row'>
    <!-- <li class='col-1'><a href="">About</a></li> -->
    <li class='col-12'><a href="{% url 'icecream:index'%}">Flavors</a></li>
    <li class='col-2'><a href="{% url 'icecream:selection' 'featured' %}">Featured</a></li>
    <li class='col-2'><a href="{% url 'icecream:selection' 'daily' %}">Daily</a></li>
    <li class='col-2'><a href="{% url 'icecream:selection' 'weekly' %}">Weekly</a></li>
    <li class='col-2'><a href="{% url 'icecream:selection' 'seasonal' %}">Seasonal</a></li>
</nav>
