{% extends 'brochure/base.html' %}



{% block flavors %}
  <h6 class='btn btn-primary'><a href="{% url 'icecream:add' %}">Add Flavor</a></h6>

{% for icecream in object_list %}
<div class='row'>
<div class="col-12 main-modal">
  <div class="modal-header card">
      <h4>{{ icecream.flavor }}</h4>
    <div class="modal-body d-flex justify-content-around">
      <p><a href="{% url 'icecream:detail' icecream.id %}">Details</a></p>
      <p><a href="{% url 'icecream:delete' icecream.id %}">Delete</a></p>
      <p><a href="{% url 'icecream:edit' icecream.id %}">Edit</a></p>
    </div>
  </div>
</div>
</div>

{% endfor %}
  <!-- <h1>Featured Ice Cream</h1>
{% for icecream in featured %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}


<h1>Weekly Flavors</h1>
{% for icecream in weekly %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}


  <h1>Daily Flavors</h1>
{% for icecream in daily %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}


  <h1>Weekly Flavors</h1>
{% for icecream in weekly %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %} -->
{% endblock flavors %}
