{% extends 'brochure/base.html' %}

{% block flavors %}


{% for icecream in featured %}
  <h1>Featured Ice Cream</h1>
  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}



{% for icecream in weekly %}
  <h1>Weekly Flavors</h1>
  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}



{% for icecream in daily %}
  <h1>Daily Flavors</h1>
  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}



{% for icecream in weekly %}
  <h1>Weekly Flavors</h1>
  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}
{% endblock flavors %}
