{% extends 'brochure/base.html' %}

{% block flavors %}

{% for icecream in object_list %}
  <h4>{{ icecream.flavor }}</h4>
{% endfor %}
  <!-- <h1>Featured Ice Cream</h1>
{% for icecream in featured %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}


<h1>Weekly Flavors</h1>
{% for icecream in weekly %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}


  <h1>Daily Flavors</h1>
{% for icecream in daily %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %}


  <h1>Weekly Flavors</h1>
{% for icecream in weekly %}

  <h3><a href="">{{ icecream.flavor }}</a></h3>
{% endfor %} -->
{% endblock flavors %}
